@inject IHttpContextAccessor HttpContextAccessor;

<ul class="navbar-nav">
    @if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <span class="nav-link text-light fw-bold">Welcome Back @@ @HttpContextAccessor.HttpContext.User.Identity.Name!</span>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-light font-weight-bold">Exit</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light font-weight-bold" id="login" asp-page="/Account/Login">Access</a>
        </li>
    }
</ul>