@page "{id:int?}"
@model RPInventories.Pages.Users.EditModel

@{
    ViewData["Title"] = "Edit User";
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User.Id" />
            <div class="form-group">
                <label asp-for="User.Name" class="control-label"></label>
                <input asp-for="User.Name" class="form-control" />
                <span asp-validation-for="User.Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="User.LastName" class="control-label"></label>
                <input asp-for="User.LastName" class="form-control" />
                <span asp-validation-for="User.LastName" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="User.Username" class="control-label"></label>
                <input asp-for="User.Username" class="form-control" />
                <span asp-validation-for="User.Username" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="User.Password" class="control-label"></label>
                <input asp-for="User.Password" class="form-control" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="User.Phone" class="control-label"></label>
                <input asp-for="User.Phone" class="form-control" />
                <span asp-validation-for="User.Phone" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="User.ProfileId" class="control-label"></label>
                <div class="input-group">
                    <label class="input-group-text" for="inputGroupSelect1">
                        <i class="fa-solid fa-person"></i>
                    </label>
                    <select asp-for="User.ProfileId" class="form-select" asp-items="Model.Profiles">
                        <option value="">--Select Profile--</option>
                    </select>
                </div>
                <span asp-validation-for="User.ProfileId" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <partial name="Partials/Actions/_Edit"/>
            </div>
        </form>
    </div>
</div>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("Shared/_ValidationScriptsPartial");
    }
}
