@page
@model LoginModel

@{
    Layout = "_LayoutBasic";
    ViewData["Title"] = "Access";
}
<main class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="row d-flex">
        <div class="col-lg-6  d-flex justify-content-center align-items-center">
            <div class="card1 pb-5">
                <i class="fas fa-user-lock fa-9x text-primary"></i>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card border-0 px-4 py-5">
                <form id="account" method="post">
                    <h4 class="bg-primary p-3 text-white text-center">Access</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="LoginVm.Username"></label>
                        <input asp-for="LoginVm.Username" class="form-control" />
                        <span asp-validation-for="LoginVm.Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LoginVm.Password"></label>
                        <input asp-for="LoginVm.Password" class="form-control" />
                        <span asp-validation-for="LoginVm.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="LoginVm.RememberMe">
                                <input asp-for="LoginVm.RememberMe" />
                                @Html.DisplayNameFor(m => m.LoginVm.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary btn-lg">
                            <i class="fas fa-sign-in-alt"></i>&nbsp;Access
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

