@page "{id:int?}"
@model EditModel

@{
    ViewData["Title"] = "Edit Profile";
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Profile.Id" />
            <div class="form-group">
                <label asp-for="Profile.Name" class="control-label"></label>
                <input asp-for="Profile.Name" class="form-control" />
                <span asp-validation-for="Profile.Name" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("Shared/_ValidationScriptsPartial");
    }
}
