@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using X.PagedList.Mvc.Core
@model RPInventories.Pages.Profiles.IndexModel

@{
    ViewData["Title"] = "Profiles";
}

@await Html.PartialAsync("Partials/Actions/CreateSearch", new CreateSearchViewModel
{
    SearchText = Model.SearchText,
    CreateTitle = "Create Profile",
    TotalRecords = Model.TotalRecords
})

<table class="table table-hover table-bordered table-striped">
    <thead class="bg-primary text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Profiles[0].Name)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Profiles) {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="text-center">
                <partial name="Partials/Actions/_Crud" model="item.Id"/>
            </td>
        </tr>
}
    </tbody>
</table>

@Html.PagedListPager(Model.Profiles, page=>Url.Action("Index", new
    {
        CurrentPage = page, 
        Model.SearchText
    }),
    new PagedListRenderOptions
    {
        LiElementClasses = new[] {"page-item"},
        PageClasses = new[] {"page-link"}
    }
)