@page "{id:int?}"
@model EditModel

@{
    ViewData["Title"] = "Edit Department";
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Department.Id" />
            <div class="form-group">
                <label asp-for="Department.Name" class="control-label"></label>
                <input asp-for="Department.Name" class="form-control" />
                <span asp-validation-for="Department.Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Department.Description" class="control-label"></label>
                <input asp-for="Department.Description" class="form-control" />
                <span asp-validation-for="Department.Description" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Department.CreatedAt" class="control-label"></label>
                <input asp-for="Department.CreatedAt" class="form-control" />
                <span asp-validation-for="Department.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <partial name="Partials/Actions/_Edit"/>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}