<button type="submit" class="btn btn-primary me-3">
    <i class="fa-solid fa-floppy-disk"></i>&nbsp;Create
</button>
<a asp-page="Index" class="btn btn-secondary">
    <i class="fa-solid fa-circle-arrow-left"></i>&nbsp;Return
</a>