@model int
<a asp-page="./Edit" asp-route-id="@Model" class="btn btn-secondary">
    <i class="fa-solid fa-pen-to-square"></i>&nbsp;Edit
</a>
<a asp-page="./Details" asp-route-id="@Model" class="btn btn-info">
    <i class="fa-solid fa-rectangle-list"></i>&nbsp;Details
</a>
<a asp-page="./Delete" asp-route-id="@Model" class="btn btn-danger">
    <i class="fa-solid fa-rectangle-list"></i>&nbsp;Delete
</a>