@model int

<a asp-page="./Edit" asp-route-id="@Model" class="btn btn-primary me-3">
    <i class="fa-solid fa-pen-to-square"></i>&nbsp;Edit
</a>
<a asp-page="./Index" class="btn btn-secondary">
    <i class="fa-solid fa-circle-arrow-left"></i>&nbsp;Back to List
</a>